@import "tailwindcss";

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

.header__nav-close {
  display: none;
}

.header__nav.open .header__nav-close {
  display: block;
}

.header__nav.open .header__nav-btn {
  display: none;
}

.header__nav-backdrop {
  font-weight: 300;
}
